img {
  width: 30%;
  margin: calc(10%/6);
}
nav{
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1; 
  width: 30%;
  margin-left: calc(10%/6);
  padding: 1em 1em;
  font-family: raleway;
  font-size: 2em;


}
img:hover{
box-shadow: blueviolet;
border-color: #8d5cff;
color: white;
box-shadow: 0 0.5em 0.5em -0.4em #ff5cf7;
transform: translateY(-0.25em);
cursor: pointer
}
